.all {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formulario {
  height: 80%;
  margin-top: 20px;
  width: 80%;
  height: 80%;
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: start;
  border-radius: 20px;
}

.styles {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  background: '#CCC';
  color: #ffffff;
  color: #ffffff;
  display: flex;
  flex-direction: column;  
  justify-content: space-betweens;;
  align-items: center;
  align-items: center;
  overflow: scroll;
  border-radius: 20px 0px 0px 20px;
  background: rgb(5, 62, 115);
  background: -webkit-linear-gradient(to right, rgb(5, 62, 115), rgb(41, 83, 128));
  background: linear-gradient(to right, rgb(5, 62, 115), rgb(41, 83, 128));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.styles h2 {
  width: 100%;
  text-align: start;
}

.titulo {
  width: 100%;
}

.titulo h1 {
  text-align: center;
  border-radius: 20px 0px 0px 20px;
  background: rgb(5, 62, 115);
  background: -webkit-linear-gradient(to right, rgb(5, 62, 115), rgb(41, 83, 128));
  background: linear-gradient(to right, rgb(5, 62, 115), rgb(41, 83, 128));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.styles h2 {
  width: 100%;
  text-align: start;
}

.titulo {
  width: 100%;
}

.titulo h1 {
  text-align: center;
}

.styles::-webkit-scrollbar{
  display: none;
}

.styles input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.styles div {
  width: 100%;
  text-align: start;
}

.styles div input[type="text"] {
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.styles input[type="text"]{
  background-color: #000000;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  transition: all .35s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.styles input[type="text"]:focus {
  background-color: #ffffff;
  outline: none;
  color: #000000;
  margin-top: -5px;
  width: 97%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.styles input[type="text"]:hover{
  width: 95%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.styles input[type="text"]:focus:hover{
  width: 97%;
}

.styles div input[type="number"] {
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.styles input[type="number"]{
  background-color: #000000;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  transition: all .35s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.styles input[type="number"]:focus {
  background-color: #ffffff;
  outline: none;
  color: #000000;
  margin-top: -5px;
  width: 97%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.styles input[type="number"]:hover {
  width: 95%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.styles input[type="number"]:focus:hover {
  width: 97%;
}

.dropContainer {
  width: 80%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #ffffff;
  color: #ffffff;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.dropContainer:hover {
  background: #eee;
  border-color: #111;
  color: #000000;
}

.dropContainer:hover .dropTitle {
  color: #222;
}

.dropTitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

.styles input[type="file"] {
  padding-bottom: 15px;
  margin-bottom: 10px;
  width: 80%;
  color: #444;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

.styles input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.styles input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.textareacontainer{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.descripciontextarea {
  width: 94%;
  height: 160%;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all .35s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.descripciontextarea:focus {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 12px 15px;
  margin-top: -5px;
  width: 97%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.descripciontextarea:hover{
  width: 95%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.descripciontextarea:focus:hover{
  width: 97%;
}

.styles img {
  border-radius: 10px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transition: all .35s;
}

.styles img:hover {
  transform: scale(1.1);
}

.agregar {
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 95%;
  transition: all .35s;
}

.agregar:hover{
  background-color: #fff;
  color: #000000;
  border: none;
  width: 100%;
}

.agregar:active {
  border: none;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: -10px;
}

.agregar:focus {
  border: none;
  outline: none;
}

.hospitalInfo {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-bottom: 30px;
  background: '#CCC';
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  background: rgb(5, 62, 115);
  background: -webkit-linear-gradient(to right, rgb(41, 83, 128), rgb(97, 133, 168));
  background: linear-gradient(to right, rgb(41, 83, 128), rgb(97, 133, 168));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.botones {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.botones button {
  outline: none;
  border: none;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: all .35s;
}

.botones button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 40px 40px #ffffff inset;
  color: #000000;
}

.botones button:active {
  border: none;
  outline: none;
}

.botones button:focus {
  border: none;
  outline: none;
}

.allServices {
  height: 100%;
  overflow: scroll;
}

.allServices::-webkit-scrollbar{
  display: none;
}

@media (max-width: 900px) {
  .all {
    height: 100%;
    width: 100%;
    margin: 40px 0px;
  }
  
  .formulario {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .styles {
    border-radius: 20px 20px 0px 0px;
    background: -webkit-linear-gradient(to right, rgb(5, 62, 115), rgb(97, 133, 168));
    background: linear-gradient(to right, rgb(5, 62, 115), rgb(97, 133, 168));
  }

  .hospitalInfo{
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0px 0px 20px 20px;
    background: -webkit-linear-gradient(to right, rgb(5, 62, 115), rgb(97, 133, 168));
    background: linear-gradient(to right, rgb(5, 62, 115), rgb(97, 133, 168));
  }
}
