.styles {
  width: 100%;
  height: auto; 
  
}

.container{
  background-image: url("https://wallpaperaccess.com/full/1153721.jpg");  /*Depende la conexion  a internet */
  background-size: cover;
  background-position: center;
}


/* Elimina el margen inferior del nombre del comentario en dispositivos móviles */
.info_section {
  width: 100%; 
  margin: 63px auto 0; 
  height: 100%;
  background-color: rgb(0, 41, 122);
  border-radius: 50px 50px 0 0;
  border-width: 5px;
  border-style: solid;
  color: #FFFFFF;
  border-color: rgb(192, 243, 255);
  align-items: space-evenly;
}

.info_section:focus{
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 12px 15px;
  margin-top: -5px;
  width: 95%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.info_section:hover{
  width: 100%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.info_section:focus:hover{
  width: 95%;
}

.info_section h1{
  font-size: 45px;
  font-weight: bold;
  color: white;
  margin: 50px;
}

.informacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.informacion img {
  width: 330px;
  height: 230px;
  border-radius: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.description h2{
  font-weight: bold;
  color: #ffffff;
  margin: 0;

}

.description p {
  background-color: black;
  width: 400px;
  color: white;
  height: 170px;
  max-width: 500px;
  border: solid;
  border-radius: 15px;
  padding: 10px;
  margin:0 auto;
  border-color: transparent;
  word-wrap: break-word;
}

.lower_parts {
  width: 100%;
  height: 600px;
  background-color: gray;
  border-radius: 50px 50px 0px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -50px;
}

.reviews {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.reviewsScroll {
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.reviewsScroll::-webkit-scrollbar {
  display: none;
}

.servicios {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.serviciosScroll {
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.serviciosScroll::-webkit-scrollbar {
  display: none;
}