.styles {
  width: 100vw;
  height: 100%;
}

.info_section {
  width: 100%;
  height: 450px;
  background-color: gray;
  border-radius: 50px 50px 0px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

.informacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.informacion img {
  width: 150px;
  height: 150px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.description p {
  background-color: gray;
  max-width: 500px;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin:0 auto;
  word-wrap: break-word;
}

.lower_parts {
  width: 100%;
  height: auto;
  background-color: gray;
  border-radius: 50px 50px 0px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -50px;
}

.reviews {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.servicios {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}