.styles {
  width: 100vw;
  height: auto;
}

.info_section {
  width: auto;
  margin-top: 63px;
  height: 500px;
  background-color: gray;
  border-radius: 50px 50px 0px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

.informacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.informacion img {
  width: 350px;
  height: 250px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.description p {
  background-color: gray;
  max-width: 500px;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin:0 auto;
  word-wrap: break-word;
}

.lower_parts {
  width: 100%;
  height: 700px;
  background-color: gray;
  border-radius: 50px 50px 0px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -50px;
}

.reviews {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.reviews button {
  margin-bottom: 20px;
}

.reviews h1 {
  margin-bottom: 5px;
}

.reviewsScroll {
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.reviewsScroll::-webkit-scrollbar {
  display: none;
}

.reviewsScroll button {
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
}

.addReview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.addReview textarea {
  margin: 20px;
  padding: 10px;
  width: 100%;
  height: 100px;
}

.addReview input {
  margin: 20px;
  padding: 10px;
  width: 20%;
  height: 20px;
}

.comentario h3 {
  margin-bottom: -5px;
}

.rating h3 {
  margin-bottom: -5px;
}

.servicios {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.serviciosScroll {
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.serviciosScroll::-webkit-scrollbar {
  display: none;
}