.styles {
  width: 100vw;
  height: auto;
}


.info_section {
  width: 80%; 
  margin: 63px auto 0; 
  height: 500px;
  background-color: rgb(0, 41, 122);
  border-radius: 50px 50px 0 0;
  border-width: 5px;
  border-style: solid;
  color: #FFFFFF;
  border-color: rgb(192, 243, 255);
  
}

.informacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 10px; 
}

.informacion img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border: 5px solid #FFFFFF; 
}


.description {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.description p {
  background-color: rgb(0, 91, 121);
  max-width: 500px;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  word-wrap: break-word;
}
.reviews span {
  color: gold;
  font-size: 25px;
}

.lower_parts {
  width: 80%; 
  height: auto; 
  color: #FFFFFF;
  background-color: rgb(0, 41, 122);
  border-radius: 50px 50px 0 0;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto; 
  padding-bottom: 50px; 
}

.reviews, .servicios {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 45%; 
}

.reviews h1, .servicios h1 {
  margin-bottom: 20px;
  font-size: 2em; 
}

.reviews button, .servicios button {
  height: 50px; 
  margin-bottom: 10px;
  cursor: pointer; 
  background-color: #f8f8f8; 
  color: #000000; 
  border: 1px solid #dcdcdc; 
  border-radius: 10px; 
  font-size: 1em; 
  transition: background-color 0.3s; 
}

.reviews button:hover, .servicios button:hover {
  background-color: #e0e0e0; 
}

.addReview, .rating {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 20px; 
}

.addReview textarea, .addReview input, .rating input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 1em;
}

.addReview textarea {
  width: 90%; 
  height: 100px;
  resize: vertical; 
}

.addReview input[type="email"], .rating input {
  width: 40%; 
  height: 50px; 
}

.addReview input[type="submit"] {
  background-color: #4CAF50; 
  color: white;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.addReview input[type="submit"]:hover {
  background-color: #45a049; 
}

.comentario, .rating {
  margin-bottom: 20px;
}

.comentario h3, .rating h3 {
  margin-bottom: 10px;
}

.serviciosScroll, .reviewsScroll {
  height: auto; 
  max-height: 400px; 
  overflow: auto; 
}


.serviciosScroll::-webkit-scrollbar,
.reviewsScroll::-webkit-scrollbar {
  width: 10px;
}

.serviciosScroll::-webkit-scrollbar-track,
.reviewsScroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.serviciosScroll::-webkit-scrollbar-thumb,
.reviewsScroll::-webkit-scrollbar-thumb {
  background: #888; 
}

.serviciosScroll::-webkit-scrollbar-thumb:hover,
.reviewsScroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

