.styles {
  width: 100%;
  height: auto;
}

body {
  background-image: url("https://wallpaperaccess.com/full/1153721.jpg");
  background-size: cover;
  background-position: center;
}

.info_section {
  width: 100%;
  margin: 4vw auto 0;
  height: auto;
  background-color: rgb(0, 41, 122);
  border-radius: 50px 50px 0 0;
  border: 5px solid rgb(192, 243, 255);
  color: #FFFFFF;
}

.informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2vw;
}

.informacion img {
  width: 80%;
  max-width: 250px;
  height: auto;
  justify-content: center;
  object-fit: cover;
  margin: 0 auto;
  border: 5px solid #FFFFFF;
  margin-bottom: 20px;
}

.description {
  text-align: center;
}

.description p {
  background-color: rgb(0, 91, 121);
  width: 90%;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto 20px;
  word-wrap: break-word;
}

/* Media query for screens wider than 1200px */
@media only screen and (min-width: 1200px) {
  .info_section {
    margin-top: 5vw;
  }

  .informacion img {
    max-width: 300px;
  }
}

/* Media query for screens wider than 900px */
@media only screen and (min-width: 900px) {
  .informacion {
    flex-direction: row;
    justify-content: space-around;
  }

  .description p {
    max-width: 500px;
  }
}

/* Media query for screens wider than 768px */
@media only screen and (min-width: 768px) {
  .lower_parts {
    flex-direction: row;
  }

  .reviews,
  .servicios {
    width: 50%;
  }
}

/* Media query for screens wider than 600px */
@media only screen and (min-width: 600px) {
  .comentario,
  .rating {
    flex-direction: column;
    align-items: center;
  }

  .rating input {
    width: 70%;
    margin-top: 10px;
  }
}

/* Media query for small devices */
@media only screen and (max-width: 480px) {
  .comentario,
  .rating {
    flex-direction: column;
    align-items: center;
  }

  .rating input {
    width: 80%;
    margin-top: 10px;
  }

  .comentario h3 {
    margin-bottom: 0;
  }
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
  .info_section {
    margin-top: 3vw;
  }

  .informacion {
    flex-direction: column;
    padding: 0 5%;
  }

  .informacion img {
    width: 90%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .description {
    text-align: center;
  }

  .description p {
    max-width: 80%;
  }

  .lower_parts {
    flex-direction: column;
    padding: 0 5%;
  }

  .reviews, .servicios {
    width: 100%;
  }

  .reviews h1, .servicios h1 {
    font-size: 1.5em;
  }

  .addReview textarea, .addReview input[type="email"], .rating input {
    width: 90%;
  }
}



.reviews span {
  color: gold;
  font-size: 20px;
}

.lower_parts {
  width: 100%;
  height: auto;
  color: #FFFFFF;
  background-color: rgb(0, 41, 122);
  border-radius: 50px 50px 0 0;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}

.reviews, .servicios {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
}

.reviews h1, .servicios h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.reviews button, .servicios button {
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f8f8f8;
  color: #000000;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  font-size: 1em;
  transition: background-color 0.3s;
}

.reviews button:hover, .servicios button:hover {
  background-color: #e0e0e0;
}

.addReview, .rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.addReview textarea, .addReview input, .rating input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 2em;
}

.addReview textarea {
  width: 90%;
  height: 100px;
  resize: vertical;
}

.addReview input[type="email"], .rating input {
  width: 40%;
  height: 50px;
}

.addReview input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addReview input[type="submit"]:hover {
  background-color: #45a049;
}

.comentario, .rating {
  margin-bottom: 20px;
}

.comentario h3, .rating h3 {
  margin-bottom: 10px;
}

.serviciosScroll, .reviewsScroll {
  height: auto;
  max-height: 400px;
  overflow: auto;
}

.serviciosScroll::-webkit-scrollbar,
.reviewsScroll::-webkit-scrollbar {
  width: 10px;
}

.serviciosScroll::-webkit-scrollbar-track,
.reviewsScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.serviciosScroll::-webkit-scrollbar-thumb,
.reviewsScroll::-webkit-scrollbar-thumb {
  background: #888;
}

.serviciosScroll::-webkit-scrollbar-thumb:hover,
.reviewsScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}