.styles {
  max-width: 600px;
  max-height: 200px;
  height: 100%;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: inherit;
  color: black;
}

.info {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.boton {
  width: 5px;
  height: 40px;
  background-color: inherit;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.datos {
  width: 70%;
  height: 100%;
  border-radius: 10%;
  background: inherit;
  border: 2px solid white;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.datos:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.datos select {
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  padding-left: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.4s;
}

.datos select:hover {
  background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding-left: 50px;
  font-size: 75%;
}

.datos select:active {
  border: none;
  outline: none;
}

.datos select:focus {
  outline: none;
  border: 1px solid white;
}

.datos input[type="number"]{
  background-color: inherit;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;
  width: 75%;
  height: 20px;
  transition: all .35s;
}

.datos input[type="number"]:focus {
  background-color: white;
  outline: none;
  border: none;
  color: #000000;
}

.datos input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.datos input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.datos input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.datos input:-moz-placeholder { /* Firefox 18- */
  color: white;
}