.styles {
  width: 400px;
  height: 440px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 33.33%;
}


.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

