.styles {
  width: 400px;
  height: 440px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}

.card {
  flex-basis: 33.33%;
}

.carousel-container {
  width: 100%;
}

.carousel-item {
  width: 100%;
}

.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50em;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
  background-color: rgb(65, 108, 151);
  border-radius: 20px;
  box-shadow: 0 10px 40px rgb(73, 115, 171), 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

.searchInput {
  color: #fff;
  font-family: Nunito;
  border: none;
  outline: none;
  background-color: transparent;
}

.searchContainer input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 35px;
  line-height: 1;
}

.searchContainer input[type="text"]::placeholder {
  color: white;
}

.searchButton {
  background-color: #ccc;
  border: 1px solid black;
  color: black;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #3e8e41;
}

.zoneFilterContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
  background-color: rgb(65, 108, 151);
  border-radius: 20px;
  box-shadow: 0 10px 40px rgb(73, 115, 171), 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

.zoneFilterInput {
  color: #fff;
  font-family: Nunito;
  border: none;
  outline: none;
  background-color: transparent;
}

.zoneFilterContainer input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 35px;
  line-height: 1;
}

.zoneFilterContainer input[type="text"]::placeholder {
  color: white;
}

.zoneDropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  max-height: 150px; /* Altura máxima del menú desplegable */
  overflow-y: scroll; /* Hacer que el menú tenga scroll si es necesario */
  border-top: none;
  z-index: 1;
}

.zoneDropdownContent {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  
}

.zoneButton {
  background-color: rgb(65, 108, 151);
  border-radius: 20px;
  font-size: 35px;
  line-height: 1;
  width: 100%; /* Hacer que los botones ocupen todo el ancho disponible */
  text-align: left; /* Alinear el texto a la izquierda */
  padding: 10px; /* Agregar un poco de espacio interno para mayor claridad */

}
