.styles {
  width: 400px;
  height: 440px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}

.card {
  flex-basis: 33.33%;
}

.carousel-container {
  width: 100%;
}

.carousel-item {
  width: 100%;
}

.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}
