.styles {
  max-width: 600px;
  min-width: 300px;
  max-height: 100px;
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 5px;
  background: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  transition: color 0.2s linear;
  position: relative;
}

.styles {
  background: rgb(0, 0, 0);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .35s;
}

.styles:hover {
  border-radius: 15px;
  animation-duration: 0.7s;
  border-bottom: 5px solid rgb(97, 133, 168);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.styles img {
  width: 80px;
  height: 80px;
  margin: 30px;
  border-radius: 10px;
  transition: all .35s;
}

.styles:hover img{
  width: 90px;
  height: 90px;
}