.styles {
  background: none;
  color: white;
  transition: color 0.2s;
  position: relative;
  cursor: pointer;
}

.stylesButton:hover {
  color: black
}

.stylesButton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  z-index: -1;
  transition: transform 0.2s;
  transform-origin: 0 6;
  transform: scaleY(0);
}

.stylesButton:hover::before {
  transform: scaleY(1);
}
