
.styles {
  height: 100vh;
  width: 100vw;
  background-image: url("https://wallpaperaccess.com/full/1153721.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
}

.informacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

form .details{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 20px 0 12px 0;
}

.inputbox{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
/*Cambiar lo grafico de los inputs del formulario*/
.inputbox input{
  width: 90%;
  height: 50%;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: all .35s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.inputbox input:focus{
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 12px 15px;
  margin-top: -5px;
  width: 95%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.inputbox input:hover{
  width: 95%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.inputbox input:focus:hover{
  width: 95%;
}

.inputbox textarea:focus{
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 12px 15px;
  margin-top: -5px;
  width: 95%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.inputbox textarea:hover {
  width: 95%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.inputbox textarea:focus:hover{
  width: 95%;
}

.inputbox textarea{
  width: 90%;
  height: 50%;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: all .35s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.inputbox label{
  display: block;
  font-weight: 700;
  margin-bottom: -20px;
  text-align: left;
  color: #ffffff;
}

.formulario_section {
  height: 0px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-evenly;
  padding: 20px 20px;
  border: 5px solid;
  border-radius: 30px;
  width: 90%;
  border-color: none;
  background: rgb(5, 62, 115);
  background: -webkit-linear-gradient(to right, rgb(97, 133, 168), rgb(41, 83, 128));
  background: linear-gradient(to right, rgb(97, 133, 168), rgb(41, 83, 128));
  background-repeat: no-repeat;
  background-size: cover;
}

.formulario form {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formulario form input {
  width: 100%;
}

.formulario form textarea {
  width: 100%;

}

.butt{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.butt button{
  outline: none;
  width: 100%;
  background: rgb(51, 48, 48);
  border: none;
  color: white;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: all .35s;
}

.butt button:hover{
  transform: scale(1.03);
  box-shadow: 0 0 40px 40px #ffffff inset;
  color: #000000;
}

.butt button:active{
  border: none;
  outline: none;
}

.butt button:focus{
  border: none;
  outline: none;
}

.selectedopcion select{
  display: inline-block;
	width: 100%;
	cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0; 
  border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
	font-family: 
	Quicksand, sans-serif;
	border:2px solid rgb(83, 77, 77);
  border-radius: 12px;
  overflow: scroll;
  position: relative;
  transition: all 0.25s ease;
}

.selectedopcion select:hover{
  border:2px solid grey;
  
}

.selectedopcion::-webkit-scrollbar{
  display: none;
}

.selectedopcion option{
  position: relative;
  border-radius: 2px;
  background-color: #1b242e;
  color: #95a5a6;
  perspective: 800px;
  width: 200px;

}

.butt button:hover{
  background: transparent;
}

.title{
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.hospitales_section {
  height: 80%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.hospitales {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background: transparent;
  justify-content: space-between;
  align-items: center;
}

.hospitales::-webkit-scrollbar{
  display: none;
}

