.card {
  height: 300px;
  width: 500px;
  margin: 20px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.card img {
  height: 300px;
  width: 500px;
  border-radius: 3px;
}

.intro {
  height: 70px;
  width: 400px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  background: rgb(27, 27, 27, .5);
  color: white;
  border-radius: 20px 20px 0px 0px;
  transition: .2s ease-in-out;
  overflow: none;
}

.intro p {
  visibility: hidden;
  text-align: left;
  font-weight: bold;
  font-family: arial;
  padding-left: 20px;
  opacity: 0;
}

.name {
  font-size: 40px;
  font-weight: bold;
}

.card:hover {
  cursor: pointer;
}

.card:hover .intro {
  height: 160px;
  botton: 240px;
  background: black;
}

.card:hover .intro p {
  opacity: 1;
  visibility: visible;
  transition: .2s ease-in-out;
}