.styles {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: gray;
  border-radius: 20px;
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 40px;
  font-weight: bold;
}

.styles img {
  width: 400px;
  height: 300px;
}