.styles {
  color: black;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.styles h1 {
  margin-bottom: 20px;
}

.styles input{
  background-color: #000000;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  margin: 8px 0;
  transition: all .35s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.styles input:focus {
  background-color: #ffffff;
  outline: none;
  color: #000000;
  width: 98%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.styles input:hover{
  width: 98%;
  box-shadow:0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.styles input:focus:hover{
  width: 98%;
}

.styles button {
  margin-top: 20px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
  transition: all .8s;
}

.styles button:hover {
  background-color: #fff;
  color: #000000;
  border: 2px solid #000000;
  width: 95%;
  transition: all .35s;
}

.styles button:active {
  border: none;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: -10px;
}

.styles button:focus {
  border: none;
  outline: none;
}